/* START RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END RESET */







#main{
   padding-left: 5%;
    padding-right: 5%;
}
 
#icon{
    margin-left: 5%
    
}
#fixed-nav{
position: fixed;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: white;
}

nav {
  
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: 1em;
    align-items: flex-end;

}
nav di{
    width: 100vw;

    
}
nav img{
margin-left: 5%;
    position: absolut;
    display:inline 
    
}
nav ul{
    display: inline-flex;
    align-items: center;
}
nav li{
    text-transform: uppercase;
   padding: 1em;
    font-family: 'Josefin Sans', sans-serif;
    
}
li:hover{
    color: pink
}

#hero{
    overflow:hidden;
    height: 80vh;
}
#hero-image{
    background-image:url(./_resources/images/image1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: inherit;
}
#hero div{
    position: absolute;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#hero div p{
    align-self: center;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    text-align: center;
}
#hero div p:first-child{
    font-size: 3em;
    letter-spacing: 20px;
}

#home{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center
}
#home p{
text-transform: uppercase;
    margin: 10px;
     font-family: 'Josefin Sans', sans-serif;
}
#home p:first-child{
    color: pink;
}
#home p:nth-child(2){
    font-size: 2em;
    letter-spacing: 20px;
}
#home p:nth-child(3){
    background-color: black;
    color: white;
    padding: 10px 20px;
    letter-spacing: 5px;
}
#home p:nth-child(4){
    font-family: 'Crimson Text', serif;
    text-transform: none;
    margin: 2em 10%;
    color: darkgrey;
    line-height: 1.5;
    text-align: center;
}
#work, #work-w{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}
#work p:first-child, #work-w p:first-child{
    font-size: 1.5em;
    letter-spacing: 1px;
     font-family: 'Josefin Sans', sans-serif;
    margin: 10px;
}
    
#work p:nth-child(2), #work-w p:nth-child(2){
       font-family: 'Crimson Text', serif;
    text-transform: none;
    margin: 2em 10%;
    color: darkgrey;
    line-height: 1.5;
    text-align: center;
}
#work ul{
    display:flex;
    font-family: 'Josefin Sans', sans-serif;
    justify-content: space-around;
}
#work ul li{
    justify-content: space-around;
    padding: 10px;
    margin: 3px;
}
#gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
}
.item-container{
    height: 45VH;
    width: 40VH;
    margin: 20px;
    overflow:hidden;
    flex-basis: 30%;
    
}
.image-container{
    display: flex;
    height: 90%;
    width: 100%;
}
#avocado{
    background-image:url(./_resources/images/image2.jpg);
    background-size: cover;
}
#banana{
    background-image:url(./_resources/images/image3.jpg);
    background-size: cover;
}
#cherries{
    background-color: black;
}
#durian{
    background-image:url(./_resources/images/image5.jpg);
    background-size: cover;
}
#elderberry{
    background-image:url(./_resources/images/image6.jpg);
    background-size: cover;
}
#finger{
    background-image:url(./_resources/images/image7.jpg);
    background-size: cover;
}

.item-container p{
    display: inline;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 2.5;
}
.item-container p.soft{
     font-family: 'Crimson Text', serif;
    color: darkgrey;
    text-transform: capitalize;
}

.button{
    display: inline-flex;
    border: solid 2px;
    padding: 10px 15px;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
}
.button:hover{
    background-color: black;
    color: white
}
.button-wraper{
    display: flex;
    justify-content: center;
}
#about{
    margin: 50px 0px;
    display: flex;
    padding: 20px;
}
#our-services{
    flex-grow: 2;
    display: flex;
    height: 500px;
     background-image:url(./_resources/images/image8.jpg);
    background-size: cover;
    margin: 20px;
    align-items: center;
    justify-content: center;
    min-width: 50%;

}
#our-services p{
display: inline-flex;
    text-transform: uppercase;
    padding: 50px 30px;
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
}
#icons-box{
flex-grow: 1;
    height: 20px;
    padding: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    padding: 50px 50px;
    
}
#icons-box div{
    display: flex;
}
#icons-box img{
    padding: 15px 10px;
    border: solid #f7879b;
    border-width: 2px;
}
.button-wraper p{
    display: inline-flex;
    align-self: center;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
}
.flex-parent{
display: flex;
    flex-direction: column;
    margin-left: 10px;
}
#icons-box p:first-child{
    font-size: 1.5em;
    text-transform: capitalize;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 5px;
    padding-top: 0px;
}
#icons-box p:nth-child(2){
    font-family: 'Crimson Text', serif;
    color: darkgrey;
}
#blog{
display: flex;
    flex-direction: column;
    align-items: center;
}
#blog-wrapper{
    display: flex;
}
.blog-item{
display: flex;
    height: 40vh;
    flex-direction: column;
    margin-top: 20px;
    padding: 50px;

}
#blog-web{
    height: 100%;
    background-image:url(./_resources/images/image9.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: inherit;

}
#blog-branding{
   height: 100%;
    background-image:url(./_resources/images/image10.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: inherit;
}
#blog-culture{
    height: 100%;
    background-image:url(./_resources/images/image11.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: inherit;
}

.blog-item p:nth-child(2){
    color: pink;
    padding: 2%;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-size: .8em
}
.blog-item p:nth-child(3){
    padding: 2%;
 font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}
.blog-item p:nth-child(4){
    padding: 2%;
    font-family: 'Crimson Text', serif;
    color: darkgrey;
}
#contact{
    display: flex;
    align-content: center;
    justify-content: center
}
#work-w{
    width: 50%;
    display: flex;
    height: auto;
    border: 2px solid darkgrey;
    padding: 50px 40px;
    text-align: center;
    margin: 10%;
}
